<html>
  <head>
    <title>Nextbook</title>
  </head>
  <body>
    <h3>What would you like to do?</h3>
    <p>Select 'Add a new book' or 'Get a suggestion':</p>

    <nav>
      <form method="GET">
        <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
          <option value="" disabled="disabled">Select one...</option>
          <option value="newbook"><a href="/newbook/">Add a new book</a></option>
          <option value="nextbook"><a href="/nextbook/">Get a reading suggestion</a></option>
        </select>
        <br><br>
        <input type="submit">
      </form>
    </nav>
  </body>

</html>
