{% load staticfiles %}

<html>
  <head>

    <title>Nextbook</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Rubik" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">

  </head>


  <body>
    <div class="menu-header">
    <h3><a>What would you like to do?</a></h3>
    </div>

    <p>Select 'Add a new book' or 'Get a suggestion':</p>
    <br>
    <button type='button' value="newbook"><a href="/newbook/">Add a new book</a></button>
    <br>
    <br>
    <button type='button' value="nextbook"><a href="/nextbook/">Get a reading suggestion</a></button>

  </body>

</html>

<!--
https://fonts.google.com/specimen/Rubik?selection.family=Roboto|Rubik
-->
