{% load staticfiles %}

<html>


  <head>

    <title>Nextbook</title>
    <link href="//fonts.googleapis.com/css?family=Rubik" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">

  </head>

    <h3>Next you should read:</h3>
     <p> {{ books.title }} by {{ books.author }}</p>

    <button type="submit" value="Get another suggestion" onClick="window.location.reload()">Get another suggestion</button>

    <div class="home-button">
      <button type="button"><a href="/" style="text-decoration:none">Back to home</a></button>
    </div>

</html>
