{% load staticfiles %}

<html>


  <head>

    <title>Nextbook</title>
    <link href="//fonts.googleapis.com/css?family=Rubik" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/newbook.css' %}">

  </head>

    <h3><a>Next you should read:</a></h3>
     <p> {{ books.title }} by {{ books.author }}</p>

    <input type="button" value="Get another suggestion" onClick="window.location.reload()">

    <div>
      <h3><a href="/">Back to home</a></h3>
    </div>

</html>
