<html>


  <head>

    <title>Nextbook</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
  </head>


  <div>
       <h3><a href="/">Back to home</a></h3>
   </div>
    <h3>Next you should read:</h3>
     <p> {{ books.title }} by {{ books.author }}</p>

    <input type="button" value="Get another suggestion" onClick="window.location.reload()">

</html>
